rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isTherapist() {
      return request.auth.token.rol == 'terapeuta';
    }

    match /usuarios/{userId} {
      allow read: if isOwner(userId) || isTherapist();
      allow list: if isTherapist();
      allow create: if request.resource.data.rol == 'paciente' || isTherapist();
      allow update: if isOwner(userId);
    }
    
    match /expedientes/{expedienteId} {
      allow read: if isTherapist() || request.auth.uid == resource.data.pacienteUid;
      allow create, update: if isTherapist();
    }
    
    match /sesiones/{sesionId} {
      allow read: if isTherapist() || request.auth.uid == resource.data.pacienteUid;
      allow create, update: if isTherapist();
    }
    
    match /avances/{avanceId} {
      allow read: if isTherapist() || request.auth.uid == resource.data.pacienteUid;
      allow create: if isOwner(request.resource.data.pacienteUid);
    }
    
    match /galerias/{galeriaId} {
      allow read: if isTherapist() || request.auth.uid in resource.data.pacientesAsignados;
      allow create, update: if isTherapist();
    }
  }
}
